/*   
  font-family: 'Roboto', sans-serif;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, .2);
  lighter blue: #74b9ff
  darker blue: #0984e3 */

body {
  background-color: #74b9ff;
}

.card-container {
  height: 700px;
  width: 69%;
  margin: 6% auto;
  position: relative;
  box-shadow: 12px 12px 2px 1px rgb(0 0 0 / 20%);
  background-color: white; 
}

p {
  margin: 1px;
}

.top-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: black dashed 2px;
}

.top-details {
  padding-left: 10px;
  font-size: 150%;
  margin: 25px;
}


a {
  font-family: 'Roboto', sans-serif;
  color: #0D84E3;
  font-size: 160%;
  margin-right: 25px;
}

.middle-content {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  font-size: 150%;
}

.item-info {
  margin-left: 25px;
  font-size: 125%;
}

img {
  width: 600px;
  margin-right: 25px;
  /* height: 100px; */
}

h1 {
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 0px;
}